<pre id="css">
.calendar-archives {
    position: relative;
    width: 100%;
	font-size: {{ global.fontSize }}px;
}

.calendar-archives * {
    box-sizing: border-box !important;
}

.calendar-archives a,
.calendar-archives a:focus,
.calendar-archives a:active {
    outline: none !important;
}

.calendar-archives.{{ theme }} .calendar-navigation {
    position: relative;
    display: table;
    width: 100%;
}

.calendar-archives.{{ theme }} .prev-year,
.calendar-archives.{{ theme }} .next-year,
.calendar-archives.{{ theme }} .menu-container {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.calendar-archives.{{ theme }} > .archives-years {
    position: relative;
    overflow: hidden;
}

.calendar-archives.{{ theme }} .year {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -100%;
    width: 100%;
    z-index: 0;
}

.calendar-archives.{{ theme }} .year-link {
    display: none;
}

.calendar-archives.{{ theme }} .year.last {
    position: relative;
}

.calendar-archives.{{ theme }} .year.current {
    margin-left: 0;
    z-index: 1;
}

.settings_page_Arrchives_Calendar_Widget #TB_ajaxContent, .arcw-preview-zone {
    background-color: {{ global.preview }};
}

.calendar-archives a {
    text-decoration: none;
}

.calendar-archives.{{ theme }} .calendar-navigation {
    height: {{ navigation.height }}px !important;
    margin: {{ navigation.marginTop }}px {{ navigation.marginRight }}px {{ navigation.marginBottom }}px {{ navigation.marginLeft }}px;

    color: {{ navigation.color }};
	font-size: {{ navigation.fontSize }}px;

    border-top: {{ navigation.borderTop }}px;
    border-right: {{ navigation.borderRight }}px;
    border-bottom: {{ navigation.borderBottom }}px;
    border-left: {{ navigation.borderLeft }}px;
    border-style: solid;
    border-color: {{ navigation.borderColor }};

    border-radius: {{ navigation.borderRadius }}px;

	background-color: {{ navigation.background }};
}

.calendar-archives.{{ theme }} .prev-year,
.calendar-archives.{{ theme }} .next-year {
    width: {{ navigation.button.width }}px;
    border-radius: {{ navigation.borderRadius }}px;
    font-size: {{ navigation.button.fontSize }}px;
	line-height: {{ navigation.height }}px;
    text-align: center;
    color: {{ navigation.color }};
}

.calendar-archives.{{ theme }} .prev-year > span,
.calendar-archives.{{ theme }} .next-year > span {
	display: block;
	line-height: {{ navigation.height }}px;
}

.calendar-archives.{{ theme }} .prev-year:hover,
.calendar-archives.{{ theme }} .next-year:hover {
	color: {{ navigation.button.hover.color }};
    background-color: {{ navigation.button.hover.background }};
}

.calendar-archives.{{ theme }} .prev-year:hover span,
.calendar-archives.{{ theme }} .next-year:hover span {
	color: {{ navigation.button.hover.color }};
}

.calendar-archives.{{ theme }} .prev-year.disabled,
.calendar-archives.{{ theme }} .next-year.disabled {
    opacity: {{ navigation.button.disabled.opacity / 100 }};
    cursor: default;
}

.calendar-archives.{{ theme }} .prev-year.disabled:hover,
.calendar-archives.{{ theme }} .next-year.disabled:hover {
    background: none;
}

.calendar-archives.{{ theme }} .prev-year {
    border-right: {{ navigation.button.borderWidth }}px {{ navigation.button.borderColor }} solid;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.calendar-archives.{{ theme }} .next-year {
    border-left: {{ navigation.button.borderWidth }}px {{ navigation.button.borderColor }} solid;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.calendar-archives.{{ theme }} .menu-container {
    position: relative;
    height: {{ navigation.height }}px;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
}

.calendar-archives.{{ theme }} .menu-container:hover {
    background-color: {{ navigation.button.hover.background }}
}

.calendar-archives.{{ theme }} .menu-container > a.title {
    display: block;
    height: {{ navigation.height }}px;
    line-height: {{ navigation.height }}px;
    color: {{ navigation.color }};
    vertical-align: middle;
}

.calendar-archives.{{ theme }} .menu-container > ul,
.calendar-archives.{{ theme }} .menu-container > ul > li {
    margin: 0;
    padding: 0;
}

.calendar-archives.{{ theme }} .menu-container > ul.menu {
    position: absolute;
    display: none;
    width: 100%;
    top: 0;
    overflow: hidden;
    border-radius: {{ navigation.borderRadius }};
    box-shadow: {{ navigation.menu.shadowValue }};
    background: {{ navigation.menu.background }};
    z-index: 99;
}

.calendar-archives.{{ theme }} .menu-container li {
    display: block;
}

.calendar-archives.{{ theme }} .menu-container li > a {
    display: block;
    height: {{ navigation.height }}px;
    line-height: {{ navigation.height }}px;
    color: {{ navigation.menu.color }};
}

.calendar-archives.{{ theme }} .menu-container li > a:hover {
    cursor: pointer;
    color: {{ navigation.menu.a.hover.color }};
    background: {{ navigation.menu.a.hover.background }};
}

.calendar-archives.{{ theme }} .menu-container li > a.selected {
    color: {{ navigation.menu.a.selected.color }};
    background: {{ navigation.menu.a.selected.background }};
}

.calendar-archives.{{ theme }} .menu-container li > a.selected:hover {
    text-decoration: none;
    cursor: default;
    color: {{ navigation.menu.a.selected.color }};
    background: {{ navigation.menu.a.selected.background }};
}

.calendar-archives.{{ theme }} .arrow-down {
    position: absolute;
    width: {{ navigation.arrow.width }}px;
    height: {{ navigation.height }}px;
    line-height: {{ navigation.height }}px;
    top: 0;
    right: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: {{ navigation.button.color }};
    cursor: pointer;
	border-left: {{ navigation.arrow.borderWidth }}px {{ navigation.arrow.borderColor }} solid;
}

.calendar-archives.{{ theme }} .arrow-down:hover {
	border-color: {{ navigation.arrow.hover.borderColor }} !important;
    background-color: {{ navigation.arrow.hover.background }};
}

.calendar-archives.{{ theme }} .menu-container:hover > .arrow-down {
    border-left: {{ navigation.button.borderWidth }}px {{ navigation.arrow.active.borderColor }} solid;
}

.calendar-archives.{{ theme }} > .archives-years {
    background-color: {{ month.calBg }};
}

.calendar-archives.{{ theme }} .month,
.calendar-archives.{{ theme }} .day {
    position: relative;
    display: block;
    overflow: hidden;
    float: left;
    float: left;
    color: {{ month.color }};
    background-color: {{ month.background }};
    border-bottom: 1px {{ month.sepBorderColor }} solid;
    border-right: 1px {{ month.sepBorderColor }} solid;
    border-radius: {{ month.borderRadius }}px;

	{{ month.spacerBottom ? 'margin-bottom: '+month.spacerBottom+'%;' : '' }}
	{{ month.spacerRight ? 'margin-right: '+month.spacerRight+'%;' : '' }}
}

.calendar-archives.{{ theme }} .month.has-posts a,
.calendar-archives.{{ theme }} .day.has-posts a {
    display: block;
    width: 100%;
    height: 100%;
    color: {{ month.haspost.color }};
    border-radius: {{ month.borderRadius }}px;
    /*border-bottom: 3px solid #b93207;*/
	background-color: {{ month.haspost.background }};
}

.calendar-archives.{{ theme }} .month.has-posts a:hover,
.calendar-archives.{{ theme }} .day.has-posts a:hover {
	background-color: {{ month.haspost.hoverbg }};
	color: {{ month.haspost.hoverColor }};
}

.calendar-archives.{{ theme }} .month.last,
.calendar-archives.{{ theme }} .day.last {
    border-right: none !important;
    margin-right: 0 !important;
}

.calendar-archives.{{ theme }} .month {
    width: {{ 25 - month.spacerRight + month.spacerRight/4 }}%;
    height: {{ month.height }}px;
}

.calendar-archives.{{ theme }} .month-name {
    text-transform: capitalize;
    font-size: {{ month.name.fontSize }}px;
    font-weight: 400;
    display: block;
    position: absolute;
    top: {{ month.name.y }}px;
    left: {{ month.name.x }}px;
	color: {{ month.name.color }}
}

.calendar-archives.{{ theme }} .postcount {
	{{ !month.empty.postcount.display ? 'display: none;' : 'display: block;' }}
	color: {{ month.empty.postcount.color }};
}

.calendar-archives.{{ theme }} .month.has-posts .postcount {
    display: block;
	color: {{ month.postcount.color }};
}

.calendar-archives.{{ theme }} .month.has-posts:hover .postcount {
	color: {{ month.postcount.hoverColor }};
}

.calendar-archives.{{ theme }} .postcount {
	position: absolute;
    {{ month.postcount.xFrom }}: {{ month.postcount.x }}px;
    {{ month.postcount.yFrom }}: {{ month.postcount.y }}px;
	font-size: {{ month.postcount.number.fontSize }}px;
}

.calendar-archives.{{ theme }} .postcount .number {
    font-size: {{ month.postcount.text.fontSize }}px;
}

.calendar-archives.{{ theme }} .postcount .count-text {
    font-size: {{ month.postcount.text.fontSize }}px;
	{{ !month.postcount.text.display ? 'display: none;' : '' }}
}

.calendar-archives.{{ theme }} .day {
    width: {{ 14.285 - month.spacerRight + month.spacerRight/7 }}% !important;
    height: {{ day.height }}px;
	font-size: {{ day.fontSize }}px;
	line-height: {{ day.height }}px;
    text-align: center;
	{{ day.fontWeight ? 'font-weight: '+day.fontWeight+';' : '' }}
}

.calendar-archives.{{ theme }} .day.today {
	{{  day.today.border ? 'border-bottom: ' + day.today.border + 'px solid' + day.today.borderColor + ';' : '' }};
}

.calendar-archives.{{ theme }} .day.has-posts a {
    height: {{ day.height }}px;
    text-decoration: none;
	{{ day.haspost.fontWeight ? 'font-weight: '+day.haspost.fontWeight+';' : '' }}
}

.calendar-archives.{{ theme }} .day.noday {
	box-shadow: none;
    background: none !important;
	border-bottom: 1px {{ month.sepBorderColor }} solid;
    border-right: 1px {{ month.sepBorderColor }} solid;
}

.calendar-archives.{{ theme }} .day.weekday {
    display: inline-block;
	padding: 0;
	height: {{ month.weekdays.height }}px;
	line-height: {{ month.weekdays.height }}px;
    border: none;
    font-size: {{ month.weekdays.fontSize }}px;
	font-weight: {{ month.weekdays.bold ? 'bold' : 'normal' }};
    color: {{ month.weekdays.color }};
    text-transform: uppercase;
    box-shadow: none;
    background: none !important;
}

.calendar-archives.{{ theme }} .week-row {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: {{ month.calBg }};
}

.calendar-archives.{{ theme }} .week-row.weekdays {
	height: {{ month.weekdays.height }}px;
	line-height: {{ month.weekdays.height }}px;
    margin-bottom: {{ month.weekdays.marginBottom }}px;
	background-color: {{ month.weekdays.background }};
}
</pre>