<div id="about-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="clearfix">
					<img id="about-image" src="images/themer.35b94916.png" alt="ARCW Theme Editor"/>

					<div style="float: left; width: 330px;">
						<h1>
							ARCW Theme Editor<br/>
							<small>v{{version}}<sup ng-if="beta" style="color: red">{{ beta }}</sup></small>
						</h1>

						<hr/>

						<p>
							ARCW Theme Editor is a simple UI theme editor for the Archives Calendar Widget plugin
							for
							Wordpress.
							You can customize the look of the widget without any code knowledge (CSS).
						</p>
					</div>

				</div>

			</div>
			<div class="modal-footer">
				<div class="pull-left" style="margin: 8px 0 0 10px;">by <a href="http://alek.be">alek</a></div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
